@typeparam TItem

@if (List == null)
{
    @if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        // Default content
        <img src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" />
    }
}
else if (List.Count == 0)
{
    @if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        // Default content
        <span class="text-info">There are no records to show... </span>
    }
}
else
{
    @foreach (var element in List)
    {
        @ElementTemplate(element)
    }
}

@code {

    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter] public List<TItem> List { get; set; }

}
