@page "/"

<div>
    <h2>Movies</h2>
    <hr />
    <MoviesList Movies="movies" />

</div>
<hr>
@* <div>
    <h2>Create Movie</h2>
    <DummyTextbox placeholder="Movie Name" />
    </div> *@

@code{
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        //await Task.Delay(2000);
        movies = new List<Movie>()
        {
            new Movie() { Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2021, 3, 8) },
            new Movie() { Title = "Fast and the Furies ", ReleaseDate = new DateTime(2018, 12, 12) },
            new Movie() { Title = "Avenger: The future in the past", ReleaseDate = new DateTime(2019, 7, 12) }
        };
    }
}
